body {
    background-color: rgba(249, 227, 247, 0.955); 
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
  }
.dynapuff {
  font-family: 'DynaPuff', system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
} 
.give-you-glory-regular {
    font-family: 'Give You Glory', cursive;
    font-weight: 500;
    font-style: normal;
} 
.unica-one-regular {
    font-family: 'Unica One', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
h1 {
    color: hwb(270 5% 60% / 0.736);
    font-family: 'Give You Glory';
    font-size: 30pt;
}
h2 {
    color: rgb(115, 34, 81)
} 
nav {
    position: sticky;
    background-color: rgb(240, 220, 245);
    padding: 6pt;
    text-align: right;
}
table, th, td {
    border:rgb(148, 108, 169); 
    border-radius: 10px; padding: 15px; 
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
input[type=checkbox] {
    margin-top: 16px; 
    margin-left: auto; 
    margin-right: auto;
} 
a {
    color: rgba(49, 25, 71, 0.74);
    text-decoration:none;
    padding: 5px;
    align-items:center;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
button{
    font-family: 'Unica One';
    background-color: rgba(255, 170, 232, 0.627);
    color: rgba(49, 25, 71, 0.74);
    border: 2px solid rgb(56, 3, 105);
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12pt;
    transition-duration: 0.4s;
    font-weight:bolder;
    border-radius: 5%;
} 
button:hover .change{
    text-decoration: underline;
    font-weight:bold
}
p::first-letter {
    font-size: larger ;
}
li::first-letter {
    font-size: large;
}
hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}
img {
    border-radius: 5%;
}
video {
    border-radius: 5%;
}
#title {
    text-align: center;
}

.cake {
    background-color: rgb(240, 220, 245);
}
.decorating-tools {
    background-color: rgb(240, 220, 245);
    margin: 40pt;
    padding: 40pt;
    text-align: justify;
    overflow: visible;
}
.decorating {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20pt;
}
.about-me {
    text-align: center;
    padding-bottom: 0%;
}
#about-me-text {
    padding: 10pt;
    font-size: 14pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
